src/main/mule/test123.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4d30ae75-9480-4aa4-aff0-c543fcc5030d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0e36cf0a-4392-43e2-91b3-d050a0271002" >
		<db:my-sql-connection host="congo.c3w6upfzlwwe.us-west-1.rds.amazonaws.com" port="3306" user="mulesoft" password="mulesoft" database="congo" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="6d9a03cb-aded-4f23-8bac-bfadfb9479d7" file="db.properties" />
	<flow name="test123Flow" doc:id="54fa7148-2a71-423b-8248-ae8b897606fd" >
		<http:listener doc:name="Listener" doc:id="d4cb5ed6-224e-4488-882e-bb06b673b84a" config-ref="HTTP_Listener_config" path="/submit"/>
		<db:select doc:name="Select" doc:id="872884fe-b893-422d-8d43-452fcd84bf6c" config-ref="${DB_CONFIG}">
			<db:sql >select * from contacts</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b53a2bf9-3c19-414d-af9f-7ea7a1beefa8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4ecee585-5630-48ad-8017-594524a85995" message="#[payload]"/>
	</flow>
</mule>
