src/main/mule/testing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dfabe066-5ad4-4d8b-9fbd-b5801d896303" basePath="/submit" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="3491269c-755b-4c5e-84a7-8118d6f586fd" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a7e113d5-4e33-457d-8228-bf3ec6fe7143" >
		<db:my-sql-connection host="congo.c3w6upfzlwwe.us-west-1.rds.amazonaws.com" port="3306" user="mulesoft" password="mulesoft" database="congo" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="9e88dbba-329a-415f-9f91-afcded70389f" file="db.properties" />
	<flow name="testingFlow" doc:id="6cf6e214-722c-439b-a18e-df277188db1e" >
		<http:listener doc:name="Listener" doc:id="b36c6d21-0abe-4d9e-b57e-6323add6aef0" config-ref="HTTP_Listener_config1" path="/submit"/>
		<db:select doc:name="Select" doc:id="43149cc5-4665-4803-96be-c4169d7f1422" config-ref="${DB_CONFIG}">
			<db:sql >SELECT * FROM contacts;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f3ea95d5-6b8e-45cf-b663-b6af4abc4b72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b4fc4ffe-45a3-4d95-83d0-5563d1583f91" message="#[payload]"/>
	</flow>
</mule>
